@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

body{
    background-color: rgb(44, 38, 38);
}

.container{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-family: Pacifico;
    font-size: 5em;
}

h2{
    font-size: 1em;
}

span{
    font-size: 2em;
}

button{ 
    background:none;
    border:none;
}

.break{
    float: left;
    margin-left: 400px;
    margin-top: 30px;
}

.session{
    float: right;
    margin-right: 400px;
    margin-top: 30px;
}

.minus{
    padding-left: 30px;
}

.timer{
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    border: solid 5px green;
    margin-top: 150px;
    font-size: 4em;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;
    position: relative;
}

.timer p{
    text-align: center;
    margin-top: 50px;
}

.fill{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
