body{
  background-color:green;
  font-weight:400;
}
.container{
  position:relative;
  width:500px;
  background-color:#fff;
  margin:auto;
  margin-top:100px;
  border-radius:5px;
  padding:30px;
  
}
.editor {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:2 em;
  color:#fff;

}
a {
  font-weight:500;
  text-decoration:none;
  color:#fff;
}

.quote-text {
  text-align:center;
  width:450px;
  height:auto;
  clear:both;
  font-weight:500;
  font-size:1.75em;
}

.quote-author {
  text-align: right;
  width:450px;
  height:auto;
  clear:both;
  font-size:1em;
}
#quote-btn {
  float:right;
}
.button{
  border-radius:3px;
  color:white;
  background-color:red;
  height:30px;
  padding: 0px 10px;
}
